<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>行政部灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/16</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/16</string>
		</dict>
	</dict>
	<key>销售部灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/20</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/20</string>
		</dict>
	</dict>
	<key>运营部灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/21</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/21</string>
		</dict>
	</dict>
	<key>会议区灯1</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/19</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/19</string>
		</dict>
	</dict>
	<key>会议区灯2</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/12</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/12</string>
		</dict>
	</dict>
	<key>仓库灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/13</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/13</string>
		</dict>
	</dict>
	<key>卫生间灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/4</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/4</string>
		</dict>
	</dict>
	<key>门厅背景灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/1</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/1</string>
		</dict>
	</dict>
	<key>门厅照明灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/15</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/15</string>
		</dict>
	</dict>
	<key>小会客室灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/5</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/5</string>
		</dict>
	</dict>
	<key>销售总监灯</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/10</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/10</string>
		</dict>
	</dict>
	<key>财务灯2</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/22</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/22</string>
		</dict>
	</dict>
	<key>财务灯1</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/9</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/9</string>
		</dict>
	</dict>
	<key>研发室灯1</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/7</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/7</string>
		</dict>
	</dict>
	<key>研发室灯2</key>
	<dict>
		<key>ValueLength</key>
		<string>1Bit</string>
		<key>WriteToGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/0/14</string>
		</dict>
		<key>ReadFromGroupAddress</key>
		<dict>
			<key>0</key>
			<string>0/1/14</string>
		</dict>
	</dict>
</dict>
</plist>
